* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Camera {
  display: flex;
  justify-content: center;  
  align-items: center;     
  width: 100vw;            
  height: 100vh;           
}

.Camera video,
.Camera canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
